.main {
    width: 100%;
    max-width: 430px;
    margin: auto;
    overflow: scroll;
    font-size: 14px;
    font-family: arial, sans-serif;
    font-weight: 100;
    line-height: 18px;
    max-height: 100%;
}
