.lowerBox {
    display: block;
    margin: auto;
    width: 480px;
    height: 157px;
}
.infoBox {
    background-color: #555555;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 360px;
    height: 100%;
    vertical-align: top;
}
.description {
    display: block;
    height: 50%;
    border-width: 1px;
    border-color: #000000;
    border-top-style: solid;
    border-right-style: solid;
    box-sizing: border-box;
    padding-top: 8%;
}
.myCardWrapper {
    background-color: #555555;
    display: inline-block;
    margin: auto;
    padding: 10px;
    height: 157px;
    width: 120px;
    border-width: 1px;
    border-color: #000000;
    border-left-style: solid;
    box-sizing: border-box;

}